@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('/audibook/css/font-awesome.css');

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font: 14px/1 'Open Sans', sans-serif;
    color: #555;
    background: #eee;
}

h1 {
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    width: 100%;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
}

section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
    overflow-y:auto;
    overflow-x: hidden;
    height: 100%;

}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome, serif;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before { content: '\f0ae'; }
label[for*='2']:before { content: '\f274'; }
label[for*='3']:before { content: '\f017'; }
label[for*='4']:before { content: '\f044'; }
label[for*='5']:before { content: '\f1c5'; }
label[for*='6']:before { content: '\f007'; }

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label
{
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5,
#tab6:checked ~ #content6 {
    display: block;
}



.field{
    width: 84%;
    padding: 15px 10px 15px 50px;
    font-size: 14px;
    background: transparent;
    border: 2px solid #FFF;
    border-radius: 5px;
    outline: none;
    margin-bottom: 20px;
    color: #FFF;
}


.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
    position: relative;
}



.wrapper
{
    display: grid;
    grid-gap: 2px;
    margin-bottom: 10px;
    grid-template-columns: 20% 80%;
    grid-template-areas:
            "sidebar content";
    background-color: rgba(10, 255, 165, 0);
    color: #444;
}

.img
{
    width: 100%;
}

.img:hover
{
    background-color: rgba(177, 216, 147, 0.49);
}


.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    font-size: 150%;
}
.box:hover
{
    background-color: #8b9289;
}



.topleft {
    position: absolute;
    top: 0;
    left: 0;
}

.topright {
    position: absolute;
    top: 0;
    right: 0;
}

.bottomleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.bottomright {
    position: absolute;
    bottom: 0;
    right: 0;
}



div.gallery {
    background-color: #444;
    margin: 5px;
    border: 1px solid #20cc6a;
    float: left;
    width: 180px;
    border-radius: 5px;
}

div.gallery:hover {
    border: 1px solid #32772e;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}









@media screen and (max-width: 1000px) {
    label {
        font-size: 0;
    }
    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 800px) {
    label {
        padding: 15px;
    }
}