table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 2px solid #ddd;
}

td, th {
    width: 100px;
    height: 5rem;
    border: 1px solid #ccc;
    text-align: center;
}
th {
    background: lightblue;
    border-color: white;
}

/*tr:nth-child(even){background-color: #f2f2f2}*/

.callout {
    text-align: center;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0 2px;
    background-color: #d6a000;

    position: absolute;
    left: 50%;
    width: 550px;
    margin-left: -275px;
    padding: 10px 0 10px 0;

    border-radius: 10px;
    -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}


.cell {
    display: inline-block;
    margin: auto;
    background-color: rgba(133, 166, 255, 0.27);
    height: 100%;
    width: 100%;
    -moz-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.5);
    -moz-transition: background-color 300ms ease-in;
    -webkit-transition: background-color 300ms ease-in;
}



.cell:hover {
    cursor: pointer;
    background-color: #007777;
    -moz-box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.16);
}




input:checked + .cell {
    background-color: #0dcb42;
    -moz-box-shadow: inset 0 0px 3px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0px 3px 1px rgba(0, 0, 0, 0.5);
}

input:checked + .cell:hover {
    background-color: #007777;
}


input:disabled + .cell {
    background-color: #ff8a6b;
    -moz-box-shadow: inset 0 0px 3px 1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: inset 0 0px 3px 1px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0px 3px 1px rgba(0, 0, 0, 0.5);
}

input:disabled + .cell:hover {
    background-color: #000000;
}



.outer {
    display: table-cell;
    width: 100%;
    height: 100px;
    background-color: #00aced;
    vertical-align: middle;
    text-align: center;
}

.inner {
    display: inline-block;
    width: 200px; height: 200px;
    background-color: #66512c;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}